@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  color: black;
  background-color: #fff
}

input:focus, textarea:focus, select:focus{
  outline: none;
  box-shadow: none !important;
  border-color: transparent;
}
/*basic class for tailwind*/
.hoveres{
  @apply hidden
}

.hovered:hover .hoveres{
  @apply flex-colo
}

.flex-colo {
  @apply flex flex-col justify-center items-center;
}

.flex-rows {
  @apply flex flex-row justify-center items-center;
}
.flex-btn {
  @apply flex  justify-between items-center;
 
}
.transitions {
  @apply transition duration-500 ease-in;
}
.zIndex {
  z-index: 1000;
}